{{ define "main" }}

<main>
  {{ .Content }}

  <article class="article-project">
    <header class="section-header">
        <h1 class="section-title">{{ .Params.title }}</h1>
        <p class="section-subtitle">Project: {{ .Params.title_short }}</p>
    </header>

    {{ with .Params.lecture2go }}
    <div class="wide-movie-container">
        <iframe class="wide-movie" src='https://lecture2go.uni-hamburg.de/o/iframe/?obj={{ . }}'  title='{{ $.Params.title }}' frameborder='0' allowfullscreen></iframe>
    </div>
    {{ end }}

    <div class="article-info">
      <p class="bold">Studierende: {{ .Params.students }}</p>
      <p class="text-secondary">Runde: {{ .Params.round }}</p>
      <p class="bold">Mentor:innen: {{ .Params.mentor }}</p>
      <p class="text-secondary">Zeitraum: {{ .Params.period }}</p>
    </div>    
    
    <div class="article-text">
      {{ .Params.text | markdownify }}
    </div>

    <a class="hover-fx article-backref" href="/studiprojekte/">Zurück zur Übersicht</a>

  </article>
</main>
   
{{ end }}