{{ define "main" }}

<main>
  {{ .Content }}

  <article class="article-project">
    <header class="section-header">
        <h1 class="section-title">{{ .Params.title }}</h1>
        <p class="section-subtitle">Project: {{ .Params.title_short }}</p>
    </header>

    <div class="wide-movie-container">
        <iframe class="wide-movie" src='https://lecture2go.uni-hamburg.de/o/iframe/?obj={{ .Params.lecture2go }}'  title='{{ .Params.title }}' frameborder='0' allowfullscreen></iframe>
    </div>

    <div class="article-info">
      <div class="bold">Students: {{ .Params.students }}</div>
      <div class="text-secondary">Round: {{ .Params.round }}</div>
      <div class="bold">Mentors: {{ .Params.mentor }}</div>
      <div class="text-secondary">Period: {{ .Params.period }}</div>
    </div>    
    
    <div class="article-text">
      {{ .Params.text | markdownify }}
    </div>

    <div class="article-backref">
      <a class="hover-fx" href="/studiprojekte/"><i class="codicon codicon-arrow-left" style="font-size: 1rem; display: inline-block; font-weight: 1000"></i> Zurück zur Übersicht</a>
    </div>

  </article>
</main>
   
{{ end }}