{{ define "main" }}
    <main>
    {{ .Content }}

    <section>
    <div class="section-title">
        <h2>Lehrlabore</h2>
        <p>Innovative Lehre fördern</p>
    </div>
    
    <input type="checkbox" id="toggle-lehrlabore-1" checked>
    <input type="checkbox" id="toggle-lehrlabore-2" checked>
    <input type="checkbox" id="toggle-lehrlabore-3" checked>
    
    <div class="controls">
        <div class="checkbox-wrapper">
            <label for="toggle-lehrlabore-1">Runde 1</label>
        </div>
        <div class="checkbox-wrapper">
            <label for="toggle-lehrlabore-2">Runde 2</label>
        </div>
        <div class="checkbox-wrapper">
            <label for="toggle-lehrlabore-3">Runde 3</label>
        </div>
    </div>

    <div class="grid-lehrlabore" id="grid-lehrlabore">
    {{ range .Pages }}
        <a href="{{ .Permalink }}" class="grid-item filter-lehrlabore-{{ .Params.round }}"
        style="background-image: url('{{ .Params.image }}'); background-size: cover; background-position: center; min-height: 200px;"
        >
            <div>
                <h3>{{ .Params.title_short }}</h3>
                <p>{{ .Params.title }}</p>
            </div>
        </a>
    {{ end }}
    </div>
    </section>
    </main>
{{ end }}
