{{ define "main" }}

<main>
  {{ .Content }}

  <article>
    <header class="section-header">
        <h1 class="section-title">{{ .Params.title }}</h1>
        <p class="section-subtitle">Project: {{ .Params.title_short }}</p>
    </header>

    {{ with .Params.lecture2go }}
    <div class="wide-movie-container">
        <iframe class="wide-movie" src='https://lecture2go.uni-hamburg.de/o/iframe/?obj={{ . }}'  title='{{ $.Params.title }}' frameborder='0' allowfullscreen></iframe>
    </div>
    {{ end }}

    <div class="accordion-wrapper">
      <details class="accordion-simple accordion-spotlight">
          <summary>Informationen zur Interview-Reihe</summary>
          <h3>Spotlight: Data Literacy Lehrlabor</h3>
          <p>In unsere Reihe „Spotlight: Data Literacy Lehrlabor” sprechen wir mit Lehrpersonen, die mit ihren Lehrprojekten vom Digital and Data Literacy in Teaching Lab (kurz: DDLitLab) der Universität Hamburg gefördert wurden. Was waren die innovativen Ideen der Projekte? Was die besonderen didaktischen und inhaltliche Herausforderungen, aber auch Highlights? Und gibt es vielleicht konkrete Tipps für andere Lehrpersonen, die auch ein neues Lehr- projekt ins Leben rufen möchten und auf der Suche nach Erfahrungsberichten sind? Das und mehr klären wir bei unserem Blick auf und hinter die Kulissen. Spotlight an!</p>
          <p><span class="highlight">Konzept & Produktion</span>: Julia Pawlowski, Sven Rehder, Simon Steinhauser, unterstützt von Laura Aguilera</p>
          {{/*  Digital and Data Literacy in Teaching Lab, Februar 2024/25  */}}
      </details>
    </div>

    <div class="article-info">
      <div>Contributors: {{ .Params.contributors }}</div>
      <div>Round: {{ .Params.round }}</div>
      <div>Mentors: {{ .Params.mentors }}</div>
      <div>Period: {{ .Params.period }}</div>
      <div>Förderlinie: {{ .Params.foerderlinie }}</div>
      <div>Veranstaltungstyp: {{ .Params.method }}</div>
      <div>Stine-Link: {{ .Params.stine | safeHTML }}</div>
      {{ with .Params.link_external }}
      <div>Externer Link: <a href="{{ . }}" target="_blank">{{ . }}</a></div>
      {{ end }}
    </div>    

    {{ with .Params.quote }}
    <div class="blockquote">
      <p>"{{ . }}"</p>
    </div>
    {{ end }}
    
    <div class="article-text">
      {{ .Params.text | markdownify }}
    </div>

    <div>      
      <a class="hover-fx" href="/lehrlabore/"><i class="codicon codicon-arrow-left" style="font-size: 1rem; display: inline-block; font-weight: 1000"></i> Zurück zur Übersicht</a>
    </div>

  </article>
</main>
   
{{ end }}