{{ define "main" }}

<main>
  {{ .Content }}

  <article>
    <div class="section-title">
        <h2>{{ .Params.title }}</h2>
        <p>Project: {{ .Params.title_short }}</p>
    </div>

    {{ with .Params.lecture2go }}
    <div class="wide-image">
        <iframe src='https://lecture2go.uni-hamburg.de/o/iframe/?obj={{ . }}'  title='{{ $.Params.title }}' frameborder='0' allowfullscreen></iframe>
    </div>
    {{ end }}

    <div class="article-info">
      <div>Contributors: {{ .Params.contributors }}</div>
      <div>Round: {{ .Params.round }}</div>
      <div>Mentors: {{ .Params.mentors }}</div>
      <div>Period: {{ .Params.period }}</div>
    </div>    
    
    <div class="article-text">
      {{ .Params.text | markdownify }}
    </div>

    <div class="nav-links">
      
      <a class="hover-fx" href="/lehrlabore/"><i class="codicon codicon-arrow-left" style="font-size: 1rem; display: inline-block; font-weight: 1000"></i> Zurück zur Übersicht</a>
    </div>

  </article>
</main>
   
{{ end }}