{{- /* Preload critical font weights to improve loading performance */ -}}
{{- /* Preload regular weight (400) - most frequently used */ -}}
<link rel="preload" href="/fonts/roboto-v48-latin/roboto-v48-latin-regular.woff2" as="font" type="font/woff2" crossorigin>

{{- /* Preload bold weight (700) - commonly used for headings */ -}}
<link rel="preload" href="/fonts/roboto-v48-latin/roboto-v48-latin-700.woff2" as="font" type="font/woff2" crossorigin>

{{- /* Preload medium weight (500) if it's being used for important UI elements */ -}}
<link rel="preload" href="/fonts/roboto-v48-latin/roboto-v48-latin-500.woff2" as="font" type="font/woff2" crossorigin>