// variables
:root {
  --size-h1: 3rem;
  --size-h1-p: 1.5rem;

  --size-h2: 2.5rem;
  --size-h3: 2rem;
  --size-h4: 1.5rem;
  --size-h5: 1.2rem;


}


html {
  font-size: 16px;
  hyphens: auto;
  font-family: BlinkMacSystemFont,-apple-system,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,helvetica,arial,sans-serif;
  line-height: 1.5;
  color: var(--black);
}

body {
  
}

p {
  font-size: 1.3em;
  margin-bottom: 20pt;
}

h1 {
  color: var(--black);  
  font-size: var(--size-h1);
  font-weight: 750;
  margin-bottom: var(--spacing-tablet);
  position: relative;
  display: inline-block;
  line-height: 1.1em;
}

h1 + p {
  font-size: var(--size-h1-p);
  color: var(--black-light);
  font-weight: 400;
  
}

div.section-title > a {
  text-decoration: none;
  color: inherit; 
  display: block; 
}

div.section-title > h2, div.section-title > a > h2 {
  color: var(--black);
  font-size: var(--size-h2);
  font-weight: bold;
  position: relative;
  margin-bottom: 0.5em;
  padding-top: 2rem;
  text-decoration: none;
}

h2 + p, a:has(> h2) + p {
  font-size: 1.8em;
  color: var(--black-light);
  font-weight: 600;
  line-height: 140%;
  padding-top: 2rem;
}

div.section-title > h2, div.section-title > a > h2 {
  &::after {
      content: "";
      position: absolute;
      bottom: -28px;
      left: 50%;
      transform: translateX(-50%);
      width: 120px;
      height: 4px;
      background-color: var(--black);
      border-radius: 2px;
    }
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 2rem;
  width: 100%;
  max-width: var(--breakpoint-mobile);
}

h3 {
  color: var(--black);  
  font-size: var(--size-h3);
  font-weight: bold;
  // margin-top: var(--spacing-mobile);
  margin-bottom: var(--spacing-tablet);
  position: relative;
  display: inline-block;
}

h3 + ul li {
  font-size: 1.2em;
  color: var(--black-light);
  margin-bottom: var(--spacing-mobile);
}

h4 {
  color: var(--black);  
  font-size: var(--size-h4);
  margin-bottom: var(--spacing-tablet);
  position: relative;
  display: inline-block;
  font-weight: 700;
  line-height: 130%;
}

h4 + p {
  font-size: 1em;
  color: var(--black-light);
}

h5 {
  color: var(--black-light);  
  font-size: var(--size-h5);
  margin-bottom: var(--spacing-tablet);
  position: relative;
  display: inline-block;
}


.uppercase {
  text-transform: uppercase;
  color: #666;
  font-weight: 500;
}