.accordion-wrapper {
  width: 100%;
  margin: 0 auto;
}

details[class*="accordion"] {
  font-size: 1rem;
  
  summary::marker,
  ::-webkit-details-marker {
    content: "+ ";
    font-weight: 200;
    font-size: 1.2em;
    line-height: 1em;
  }
  
  &[open] summary::marker {
    content: "– ";
  }
}

.accordion-simple {
  border: 1px solid var(--black-lighter);
  padding: 0.5em;
  color: var(--black-light);
}

.accordion-spotlight {
  margin-top: 1em;
  
  h3 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.08em;
    padding: 1em;
  }
  
  p {
    font-size: 0.8rem;
    padding: 0 1em 1.5em;
  }
}

.accordion-timeline {
  padding: 0;
  border: none;
}

.accordion-events {
  font-size: 1rem;
  font-weight: 500;
  color: var(--black-lighter);
  text-transform: uppercase;
  letter-spacing: 0.15em;
}


.grid-accordion-events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 1em;
    color: var(--black-light);
    text-align: left;

    &-column {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    h2 {
        width: 70%;
    }

    h3, a {
        font-size: 0.8em;
        color: var(--black-light);
        margin-bottom: 0.3em;
    }

    h3 {
        text-transform: uppercase;
        letter-spacing: 0.15em;
    }

    a {
        text-decoration: none;
        font-weight: 300;
        padding-left: 0;
        padding-right: 0;
    }

    ul {
        list-style: none;
    }

  @media (max-width: $breakpoint-mobile) {
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }
}


@media (max-width: $breakpoint-mobile) {
  .datenwelten-events-pretitle {
    display: none;
  }

  .accordion-spotlight {
    margin-top: 0;
  }
}