.article-project {
    gap: 2em;
}

.article-text {
    text-align: justify;
    hyphens: auto;
}

.article-text h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5em;
}

.article-text p {
    font-size: 1.3rem;
    margin-bottom: 1em;
}

.article-text em {
    font-style: normal;
    @include highlight;    
}

.article-backref {
    text-align: center;
}

.article-backref::before {
    content: "\ea9b";
    font-family: 'codicon';
    margin-right: 0.3em;
    float: left;
}

.article-stine-link {
    text-align: center;
}

.article-stine-link::before {
    content: "\ea9b";
    font-family: 'codicon';
    transform: rotate(135deg);
    float: right;
    margin-left: 0.3em;
}

@media (max-width: $breakpoint-mobile) {
    .article-text {
        text-align: left;
    }
}