.background-circles::before {
	content: '';
	position: absolute;
	top: 0;
	left: -50vw;
	width: 200vw;
	height: 100%;
	z-index: -1;
	background-image: radial-gradient(circle, var(--primary-lighter, #fff) 5px, transparent 5px);
	background-size: 2rem 2rem;
}

// you can change these three
$c: gainsboro; // grid lines
$d: 1em; // grid cell size
$l: 0.2px; // line thickness

// computed value, don't change
$o: .5*$l;

.background-pattern::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50vw;
  width: 200vw;
  height: 100%;
  z-index: -1; /* Place the background behind the content */
  background: 
    /* horizontal and vertical lines */
    conic-gradient(from 90deg at $l $l, 
            #0000 25%, $c 0%) 
        #{-1*$o -1*$o}/ #{$d $d}, 
    /* main diagonal */
    linear-gradient(45deg, 
            #0000 calc(50% + -1*#{$o}), 
            $c 0 calc(50% + #{$o}), #0000 0) 0 0/ #{2*$d 2*$d}, 
    /* secondary diagonal */
    linear-gradient(-45deg, 
            #0000 calc(50% + -1*#{$o}), 
            $c 0 calc(50% + #{$o}), #0000 0) 0 0/ #{2*$d 2*$d};
}

.background-grey {
    background: linear-gradient(135deg, #f0f0f0 0%, #ffffff 100%);
}

.background-publications {
    align-items: center;
}

.background-publications::before {
    background: url("/illustrations/background/publications.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; 
    position: absolute;
    content: '';
    width: 100vw;
    left: -10%;
    height: 100%;
    z-index: -1;
}