.grid-datenwelten-inhalte em, 
.dw-uebung-text-grid em, 
.timeline-text em,
.feature-highlight em,
.article-text em,
.about-text-wide em,
.projekte-index-quote em,
.highlight {
    font-style: normal;
    @include highlight; 
    // font-weight: 500;
    color: var(--black);
}

.feature-highlight em,
.about-text-wide em {
    color: var(--black-light);
}

.grid-datenwelten-inhalte a, 
.dw-uebung-text-grid a, 
.timeline-text a,
.feature-highlight a,
.article-text a,
.about-text-wide a,
.projekte-index-quote a {
    @include highlight;
    color: var(--black);
    text-decoration-color: var(--secondary-light);
    margin-right: 1em;
}

.about-text-wide a {
    color: var(--black-light);
    font-weight: 500;
}

.grid-datenwelten-inhalte a::after, 
.dw-uebung-text-grid a::after, 
.timeline-text a::after,
.feature-highlight a::after,
.article-text a::after,
.about-text-wide a::after,
.projekte-index-quote a::after {
    content: "\ea9c";
    font-family: 'codicon';
    transform: rotate(-45deg);
    position: absolute;
}


.link-hover {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    position: relative;
    display: inline-block;
    align-self: flex-start;
    white-space: nowrap;
    padding: 0.5em;
}

.link-hover:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 0.25em;
    left: 50%;
    position: absolute;
    background: var(--primary);
    transition: all 0.5s ease;
    width: 0;
}

.link-hover:hover:after { 
    width: 100%; 
    left: 0; 
}