.logo-grid {
    display: grid;
    width: 80%;
    place-items: center;
}

.logo-grid-datenwelten-uebung {
    margin: 2rem 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    
    img {
        height: 120px;

        @media (max-width: $breakpoint-footer) {
            height: 80px;
        }
    }

    
}

.logo-grid-ddlitlab {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    
    img {
        height: 8rem;

        @media (max-width: $breakpoint-mobile) {
            height: 6rem;
            gap: 2rem;
        }
    }
    
    @media (max-width: $breakpoint-tablet) {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
}