.logo-grid {
    display: grid;
    align-items: center;
    // justify-items: center;
    // place-items: center;
    width: 80%;
}

.logo-grid-dw-uebung {
    margin: 2rem 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    place-items: center;    
}

.logo-grid-dw-uebung img {
    height: 120px;
}

.logo-grid-ddlitlab {
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.logo-grid-ddlitlab img {
    padding: 2rem 4rem;
    height: 200px;
}



@media (max-width: $breakpoint-tablet) {
    .logo-grid-ddlitlab img {
        padding: 2rem 2rem;
    }
}

@media (max-width: $breakpoint-mobile) {
    .logo-grid-ddlitlab {
        grid-template-columns: 1fr;
    }

    .logo-grid-ddlitlab img {
        padding: 3rem 1rem;
    }
}

.logo-grid-datenwelten {
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

.logo-grid-datenwelten img {
    padding: 2rem;
    // height: 20%;
}

@media (max-width: $breakpoint-tablet) {
    .logo-grid-datenwelten {
        grid-template-columns: 1fr 1fr;
    }
    
    .logo-grid-datenwelten img {
        padding: 2rem 2rem;
    }
}

@media (max-width: $breakpoint-mobile) {
    .logo-grid-datenwelten {
        grid-template-columns: 1fr;
    }

    .logo-grid-datenwelten img {
        padding: 3rem 1rem;
    }
}