.logo-grid {
    display: grid;
    align-items: center;
    width: 80%;
    place-items: center;
}

.logo-grid-datenwelten-uebung {
    margin: 2rem 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    
    img {
        height: 120px;

        @media (max-width: $breakpoint-mobile) {
            height: 80px;
        }
    }

    
}

.logo-grid-ddlitlab {
    grid-template-columns: repeat(3, 1fr);
    
    img {
        padding: 2rem 4rem;
        height: 100px;
        
        @media (max-width: $breakpoint-tablet) {
            padding: 2rem;
        }
        
        @media (max-width: $breakpoint-mobile) {
            padding: 0;
        }
    }
    
    @media (max-width: $breakpoint-mobile) {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}