
.wide-movie-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw 0;
}

.wide-movie-container::before {
    background: no-repeat url("/images/Video-Hintergund_SVGs_Gesamt.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; 
    position: absolute;
    content: '';
    width: 100vw;
    height: 100%;
    // top: 6vw;
    // right: 5vw;
    z-index: -1;
}

.wide-movie {
    width: 60vw;
    height: auto;
    aspect-ratio: 16/9;
    box-shadow: 100px 100px 0 -90px var(--primary);
    box-shadow: 2vw 2vw 0 -1vw var(--primary);
}

.wide-image {
    max-width: 100%; /* Ensure it doesn't exceed the container */
    display: block;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}