.section-header {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;
    text-align: center;
    font-size: var(--size-h2);
    color: var(--black);
}

.section-title {
    font-size: 1em;
    font-size: clamp(--size-h2-mobile, calc(5vw + 1rem), var(--size-h2));
    font-weight: bold;
    position: relative;
    margin-bottom: 1.2em;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.7em;
      left: 50%;
      transform: translateX(-50%);
      width: 120px;
      height: 4px;
      background-color: var(--black);
      border-radius: 2px;
    }
}

.section-subtitle {
    font-size: 0.7em;
    color: var(--black-light);
    font-weight: 600;
    line-height: 140%;
}

.section-header a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.section-header a .section-title:hover::after {
  background-color: var(--primary);
}

@media (max-width: $breakpoint-mobile) { 
  .section-header {
    font-size: var(--size-h2-mobile);
    margin-top: 0;
    padding: 2rem 1rem;

  .section-title {
      margin-bottom: 0.7rem; // modulize
  }

  .section-title::after {
    bottom: -0.25em;
  }

  .section-subtitle {
      font-size: var(--size-h2-p-mobile);
      font-size: 0.7em;
    } 
  }
}