.section-header {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    color: var(--black);

    a {
        text-decoration: none;
        color: inherit;
        display: block;

        .section-title:hover::after {
            background-color: var(--primary);
        }
    }

    @media (max-width: $breakpoint-tablet) {
        padding: 1.5rem 1rem;
    }

    @media (max-width: $breakpoint-mobile) {
        margin-top: 0;
        padding: 1rem 0;
    }
}

.section-title {
    font-weight: bold;
    position: relative;
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    margin-bottom: 1.2em;
    text-decoration: none;

    &::after {
        content: "";
        position: absolute;
        bottom: -0.7em;
        left: 50%;
        transform: translateX(-50%);
        width: clamp(80px, 15vw, 120px);
        height: 4px;
        background-color: var(--black);
        border-radius: 2px;
    }

    @media (max-width: $breakpoint-mobile) {
        margin-bottom: 0.7rem;

        &::after {
            bottom: -0.25em;
        }
    }
}

.section-subtitle {
    font-size: clamp(1.2rem, 3vw, 1.8rem);
    color: var(--black-light);
    font-weight: 600;
    line-height: 140%;
}