


html {
  font-size: 16px;
  hyphens: none;
  // font-family: Roboto,BlinkMacSystemFont,-apple-system,segoe ui,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,helvetica,arial,sans-serif;
  // font-family: roboto;
  font-family: Roboto;
  line-height: 1.5;
  color: var(--black);
}


.highlight-icon {
  @include highlight-icon;
}

.highlight {
    @include highlight; 
}


p.paragraph {
  margin-bottom: 1em;
}

.text-secondary {
  color: var(--secondary-darker);
}

.uppercase {
  text-transform: uppercase;
}