html {
  font-size: 16px;
  hyphens: none;
  // font-family: Roboto,BlinkMacSystemFont,-apple-system,segoe ui,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,helvetica,arial,sans-serif;
  font-family: Roboto;
  line-height: 1.5;
  color: var(--black);
}

@media (max-width: $breakpoint-mobile) {
  html {
    font-size: 16px;
  }
}