{{ define "main" }}
<main>
    <section>
    <header class="section-header">
        <h1 class="section-title">{{ .Params.hero.title }}</h1>
        <p class="section-subtitle">{{ .Params.hero.subtitle }}</p>
    </header>
    <div class="datenwelten-hero">
        <div class="datenwelten-hero-left">
            <p>{{ .Params.hero.left }}</p>
        </div>
        <div class="datenwelten-hero-right">
            <p class="datenwelten-hero-answer">{{ .Params.hero.right.first }}</p>
            <p class="datenwelten-hero-answer-sub">{{ .Params.hero.right.second }}</p>
        </div>
    </div>
    <div class="wide-movie-container">
        <iframe class="wide-movie" src='https://lecture2go.uni-hamburg.de/o/iframe/?obj=71206'  title='Video: Warum DATENWELTEN eine Vorlesung für Dich ist!' frameborder='0' allowfullscreen></iframe>
    </div>
    </section>

    <section class="background-pattern" id="lecture">
        <header class="section-header">
            <h1 class="section-title">{{ .Params.lecture.title }}</h1>
            <p class="section-subtitle">{{ .Params.lecture.subtitle }}</p>
        </header>
        <div class="glass datenwelten-inhalte">
            <div class="datenwelten-inhalte-winter-meta">
                <p class="datenwelten-pretitle">{{ .Params.lecture.grid.winter.pretitle }}</p>
                <h3>{{ .Params.lecture.grid.winter.title }}</h3>
                <p class="datenwelten-inhalte-text">{{ .Params.lecture.grid.winter.text | markdownify }}</p>
                <div><a class="hover-fx" href="https://lecture2go.uni-hamburg.de/l2go/-/get/l/7566" target="_blank">
                    {{ .Params.lecture.grid.link }}
                    <i class='codicon codicon-arrow-right' style='font-size: 1em; transform: rotate(-45deg); display: inline-block; font-weight: 1000'></i>  
                </a></div>
            </div>
            <div class="grid-datenwelten-inhalte datenwelten-inhalte-winter-content">
                {{ range .Params.lecture.grid.winter.content }}
                    <i class="icon-bullet codicon codicon-{{ .icon }}"></i>
                    <p>{{ .text | markdownify }}</p>
                {{ end }}
            </div>
            <hr class="datenwelten-inhalte-divider">
            <div class="datenwelten-inhalte-sommer-meta">
                <p class="datenwelten-pretitle">{{ .Params.lecture.grid.sommer.pretitle }}</p>
                <h3>{{ .Params.lecture.grid.sommer.title }}</h3>
                <p class="datenwelten-inhalte-text">{{ .Params.lecture.grid.sommer.text | markdownify }}</p>
                <div><a class="hover-fx" href="https://lecture2go.uni-hamburg.de/l2go/-/get/l/7659" target="_blank">
                    {{ .Params.lecture.grid.link }}
                    <i class='codicon codicon-arrow-right' style='font-size: 1em; transform: rotate(-45deg); display: inline-block; font-weight: 1000'></i>  
                </a></div>
            </div>
            <div class="grid-datenwelten-inhalte datenwelten-inhalte-sommer-content">
                {{ range .Params.lecture.grid.sommer.content }}
                    <i class="icon-bullet codicon codicon-{{ .icon }}"></i>
                    <p>{{ .text | markdownify }}</p>
                {{ end }}
            </div>
        </div>
        <div class="big-numbers datenwelten-big-numbers">
            {{ range .Params.lecture.numbers }}
                <p>{{ . | markdownify }}</p>
            {{ end }}
        </div>
    </section>
    
    
    <section id="exercise">
        <header class="section-header">
            <h1 class="section-title">{{ .Params.exercise.title }}</h1>
            <p class="section-subtitle">{{ .Params.exercise.subtitle }}</p>
        </header>
        <figure class="image-full-page image-full-page-dw">
            <img src="/images/projekt/dw-uebung.png" alt="team picture">
        </figure>
        <div class="datenwelten-background">
            <div class="glass datenwelten-uebung-text-grid">
                {{ range .Params.exercise.grid }}
                <p>{{ . | markdownify }}</p>
                {{ end }}
            </div>
        </div>
        <div class="logo-grid logo-grid-datenwelten-uebung">
        <a href="https://www.r-project.org/">
          <img src="/images/logos-external/dw_R.svg" alt="R Logo">
        </a>
        <a href="https://jupyter.org/">
          <img src="/images/logos-external/dw_jupyter.svg" alt="Jupyter Logo">
        </a>
        <a href="https://www.tidyverse.org/">
          <img src="/images/logos-external/dw_tidyverse.svg" alt="Tidyverse Logo">
        </a>
      </div>
    <h2 class="datenwelten-uebung-inhalte-header datenwelten-pretitle">{{ .Params.exercise.illustration.title }}</h2>
    <div class="datenwelten-uebung-grid">
        <div class="datenwelten-uebung-content datenwelten-uebung-grid-item-primary-light datenwelten-uebung-grid-sommer">
            <h3 class="datenwelten-uebung-header">{{ .Params.exercise.illustration.winter.title }}</h3>
            <ul>
            {{ range .Params.exercise.illustration.winter.items }}
                <li>{{ . }}</li>
            {{ end }}
            </ul>
            <p class="datenwelten-uebung-subheader">{{ .Params.exercise.illustration.winter.subtitle }}</p>
        </div>
        <div class="datenwelten-uebung-content datenwelten-icon datenwelten-icon-coding  datenwelten-uebung-grid-item-primary">
            <h3 class="datenwelten-uebung-header datenwelten-uebung-header-uppercase">{{ .Params.exercise.illustration.coding.title }}</h3>
            <ul>
            {{ range .Params.exercise.illustration.coding.items }}
                <li>{{ . }}</li>
            {{ end }}
            </ul>
            <p class="datenwelten-uebung-subheader">{{ .Params.exercise.illustration.coding.subtitle }}</p>
        </div>
        <div class="datenwelten-uebung-content datenwelten-uebung-grid-item-primary-light">
            <h3 class="datenwelten-uebung-header">{{ .Params.exercise.illustration.sommer.title }}</h3>
            <ul>
            {{ range .Params.exercise.illustration.sommer.items }}
                <li>{{ . }}</li>
            {{ end }}
            </ul>
            <p class="datenwelten-uebung-subheader">{{ .Params.exercise.illustration.sommer.subtitle }}</p>
        </div>
        <div class="datenwelten-icon datenwelten-icon-tools datenwelten-uebung-grid-item-secondary">
            <h3 class="datenwelten-uebung-header datenwelten-uebung-header-uppercase">{{ .Params.exercise.illustration.tools.title }}</h3>
            <ul>
            {{ range .Params.exercise.illustration.tools.items }}
                <li>{{ . }}</li>
            {{ end }}
            </ul>
        </div>
        <div class="datenwelten-icon datenwelten-icon-reflection datenwelten-uebung-grid-item-secondary">
            <h3 class="datenwelten-uebung-header datenwelten-uebung-header-uppercase">{{ .Params.exercise.illustration.reflection.title }}</h3>
            <ul>
            {{ range .Params.exercise.illustration.reflection.items }}
                <li>{{ . }}</li>
            {{ end }}
            </ul>
        </div>
    </div>
    <a class="hover-fx datenwelten-uebung-link-external" href="" target="_blank"><i class="codicon codicon-github"></i> {{ .Params.exercise.repo }}</a>
    </section>

    <section id="datenwelten-events">
        <div class="accordion-wrapper datenwelten-accordion">
            <details class="accordion-simple">
                <summary class="accordion-events">{{ .Params.events.title }}</summary>
                <div class="grid-datenwelten-events">
                    {{ range .Params.events.semesters }}
                    <div><h2 class="datenwelten-pretitle">{{ . }}</h2></div>
                    {{ end }}
                    {{ range .Site.Data.datenwelten_events}}
                    <div>
                        <h3>{{ .semester }}</h3>
                        <ul>
                            {{ range .events }}
                            <li><a class="hover-fx" href="{{ .link }}" target="_blank">
                                <i class="codicon {{ .icon }}" style="float: left; margin-right: 0.3em"></i> {{ .title }}<i class='codicon codicon-arrow-right' style='transform: rotate(-45deg); font-size: 1em; font-weight: 1000;'></i>
                            </a></li>
                            {{ end }}
                        </ul>
                    </div>
                    {{ end }}
                </div>
            </details>
        </div>
    </section>

{{ .Content }}

</main>
{{ end }}