{{ define "main" }}
<section>
    <header class="section-header">
        <h1 class="section-title">{{ .Params.hero.title }}</h1>
        <p class="section-subtitle">{{ .Params.hero.subtitle }}</p>
    </header>

    <div class="projekte-index-quote projekte-index-quote-gkicommunity">
        {{ .Params.hero.text | markdownify }}
    </div>
</section>

<section>
    <header class="section-header">
        <h1 class="section-title">{{ .Params.studierende.title }}</h1>
        <p class="section-subtitle">{{ .Params.studierende.subtitle }}</p>
    </header>

    <div class="projekte-index-quote">
        <p>{{ .Params.studierende.text | markdownify }}</p>
    </div>

    <div class="wide-movie-container">
        <iframe class="wide-movie" src='https://lecture2go.uni-hamburg.de/o/iframe/?obj=70983'  title='Video: &#34;Wie funktioniert eigentlich generative KI?&#34; mit Prof. Dr. Chris Biemann' frameborder='0' width='647' height='373' allowfullscreen></iframe>
    </div>

    <div class="accordion-wrapper">
      <details class="accordion-simple accordion-spotlight">
          <summary>{{ .Params.studierende.accordion.summary }}</summary>
          <h3>{{ .Params.studierende.accordion.title }}</h3>
          <p>{{ .Params.studierende.accordion.intro }}</p>
          <ol>
            {{ range .Params.studierende.accordion.items }}
            <li>{{ . }}</li>
            {{ end }}
          </ol>
          <p><span class="highlight">{{ i18n "concept_production" }}</span>: Mareike Bartels, Jennifer Preiß, Simon Steinhauser, Sven Rehder</p>
      </details>
    </div>

    <div class="projekte-index-quote">
        <h2>{{ .Params.studierende.podcast.title }}</h2>
        <p>{{ .Params.studierende.podcast.text | markdownify }}</p>
    </div>

    <div>
    - Alle Folgen der Podcast-Reihe?
    </div>

    {{/*  <div class="big-numbers">
    {{ range .Params.studierende.numbers }}
        <p>{{ . | markdownify }}</p>
    {{ end }}
    </div>  */}}

    <div class="projekte-index-quote">
        <h2>{{ .Params.studierende.workshops.title }}</h2>
        <p>{{ .Params.studierende.workshops.text | markdownify }}</p>
        <p>{{ .Params.studierende.workshops.list_title }}</p>
        <ul>
            {{ range .Params.studierende.workshops.list_items }}
            <li>{{ . }}</li>
            {{ end }}
        </ul>
    </div>

    <div class="projekte-index-quote">
        <h2>{{ .Params.studierende.guide.title }}</h2>
        <p>{{ .Params.studierende.guide.text | markdownify }}</p>
    </div>
</section>


<section>
    <header class="section-header">
        <h1 class="section-title">{{ .Params.lehrende.title }}</h1>
        <p class="section-subtitle">{{ .Params.lehrende.subtitle }}</p>
    </header>

    <div class="projekte-index-quote">
        {{ .Params.lehrende.text | markdownify }}
    </div>

    <div>Bilder-Galerie (https://codepen.io/henriquebaldy/pen/VYYZqYa)</div>

    <div class="accordion-wrapper">
        <details class="accordion-simple">
            <summary class="accordion-events">{{ .Params.events.title }}</summary>
            <div class="grid-accordion-events">
                {{ range .Params.events.columns }}
                <div class="grid-accordion-events-column">
                    <h2 class="datenwelten-pretitle">{{ .title }}</h2>
                    {{ range $index, $item := .items }}
                    <div>
                        <h3>{{ $item.date }}</h3>
                        <p>#{{ add $index 1 }} {{ $item.title }}</p>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </details>
    </div>
  
</section>


<section>
    <header class="section-header">
        <h1 class="section-title">{{ .Params.publikationen.title | markdownify }}</h1>
        <p class="section-subtitle">{{ .Params.publikationen.subtitle }}</p>
    </header>

    <div class="projekte-index-quote">
        {{ .Params.publikationen.text | markdownify }}
    </div>
</section>

<section>
{{ .Content }}
</section>

{{ end }}