{{ define "main" }}

  {{ .Content }}
  <article class="article-project">
    <header class="section-header">
        <h1 class="section-title">{{ .Params.title }}</h1>
        <p class="section-subtitle">{{ i18n "project" }}: {{ .Params.title_short }}</p>
    </header>

    {{ with .Params.lecture2go }}
    <div class="wide-movie-container">
        <iframe class="wide-movie" src='https://lecture2go.uni-hamburg.de/o/iframe/?obj={{ . }}'  title='{{ $.Params.title }}' frameborder='0' allowfullscreen></iframe>
    </div>
    {{ end }}

    {{/*  {{ with .Params.podcast }}
    <figure>
        <figcaption>Das Interview als Podcast:</figcaption>
        <audio controls src="{{ . }}"></audio>
    </figure>
    {{ end }}  */}}

    {{ with .Params.spotlight_interview }}
    <div class="accordion-wrapper">
      <details class="accordion-simple accordion-spotlight">
          <summary>{{ i18n "spotlight_interview_info" }}</summary>
          <h3>{{ i18n "spotlight_interview_title" }}</h3>
          <p>{{ i18n "spotlight_interview_description" }}</p>
          <p><span class="highlight">{{ i18n "concept_production" }}</span>: Julia Pawlowski, Sven Rehder, Simon Steinhauser, unterstützt von Laura Aguilera</p>
          {{/*  Digital and Data Literacy in Teaching Lab, Februar 2024/25  */}}
      </details>
    </div>
    {{ end }}    {{ with .Params.quote }}
    <div class="blockquote">
      <p>"{{ . }}"</p>
    </div>
    {{ end }}

    <div class="article-info">
        {{ if eq .Section "lehrlabor" }}
            <p><b>{{ i18n "participants" }}: {{ .Params.contributors }}</b></p>
        {{ else }}
            <p><b>{{ i18n "students" }}: {{ .Params.students }}</b></p>
        {{ end }}
            <p>{{ .Params.period }} &nbsp | &nbsp {{ i18n "round" }} {{ .Params.round }}</p>
        {{ with .Params.institution }}
            <p>{{ . }}</p>
        {{ end }}
        {{ with .Params.foerderlinie }}
            <p>{{ i18n "funding_line" }}: {{ . }}</p>
        {{ end }}
        {{ with .Params.method }}
            <p>{{ i18n "event_type" }}: {{ . }}</p>
        {{ end }}
        {{ with .Params.link_external }}
            <a class="article-info-external" href="{{ . }}" target="_blank">{{ i18n "external_website" }}</a>
        {{ end }}
    </div> 

    {{ with .Params.stine }}
        <a class="link-hover article-stine-link" href="{{ . | safeHTML }}">{{ i18n "course_description_uhh" }}</a>
    {{ end }}

    <div class="article-text">
        {{ .Params.text | markdownify }}
    </div>

    <a class="link-hover article-backref" href="/{{ .Section }}/">{{ i18n "back_to_overview" }}</a>

  </article>
   
{{ end }}