{{ define "main" }}
    <main>
    {{ .Content }}

    <section>
    <header class="section-header">
        <h1 class="section-title">{{ .Title }}</h1>
        <p class="section-subtitle">{{ .Params.subtitle }}</p>
    </header>

    <div class="projekte-index-quote projekte-index-quote-studiprojekte">
        <p>{{ .Params.text | markdownify }}</p>
    </div>

    <input type="radio" id="sf-runde1" name="filter" checked>
    <input type="radio" id="sf-runde2" name="filter">
    <input type="radio" id="sf-runde3" name="filter">
    <input type="radio" id="sf-runde4" name="filter">
    
    <div class="projekte-filter">
        <label for="sf-runde1">{{ .Params.filter1 }}</label>
        <label for="sf-runde2">{{ .Params.filter2 }}</label>
        <label for="sf-runde3">{{ .Params.filter3 }}</label>
        <label for="sf-runde4">{{ .Params.filter4 }}</label>
    </div>

    <div class="projekte-grid">
        {{ range .Pages }}
            <a href="{{ .Permalink }}" class="projekte-grid-item projekte-filter-sf-{{ .Params.round}}"
            style="background-image: url('{{ .Params.image }}'); background-size: cover; background-position: center; min-height: 200px;"
            >
                <div>
                    <h2>{{ .Params.title_short }}</h2>
                    <p>{{ .Params.title }}</p>
                </div>
            </a>
        {{ end }}
    </div>

    </section>
    </main>
{{ end }}
