.blockquote {
    padding: 60px 80px 40px;
    position: relative;
}
.blockquote p {
    font-family: "Utopia-italic";
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
}

/*blockquote p::before {
    content: "\f095"; 
    font-family: FontAwesome;
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
  font-size: 180px;
 }*/

.blockquote:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: 0;
  
  content:"\f10d";
  font-size: 200px;
  color: rgba(0,0,0,0.1);
   
}

.blockquote::after {
    content: "";
    top: 20px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    border-bottom: 3px solid #bf0024;
    height: 3px;
    width: 200px;
}



.article-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    // grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, var(--max-width)) minmax(1.2rem, 1fr);
    gap: 0 1em;
    border-radius: 12px;
    padding: 1em;
    font-size: 1.2em;
    background-color: var(--primary-lighter);
    border: dashed 0.2em var(--black);
    // margin-bottom: 20px;
}



.grid-lehrlabore, .grid-studiprojekte {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    place-content: center;
    // margin: 0 auto;

    & .grid-item {
        // display: none;
        display: flex; 
        text-align: left;
        color: var(--black);
        transition: all var(--transition-speed) ease;
        
        overflow: hidden;
        text-decoration: none;
        // border: dashed 2px var(--black);
        padding: 20px;
        
        flex-direction: row;
        justify-content: flex-start;

        border-radius: 15px;
        border-radius: 0;
        box-shadow: -50px -50px 0 -45px var(--primary), 50px 50px 0 -45px var(--primary);
        

        & h3 {
            font-size: 2em;
            background-color: #fff;
            border-radius: 6px;
            padding: 0px 10px 0px 10px;
            background: rgba(255, 255, 255, 0.5);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        }

        & p {
            font-size: 0.8em;
            color: var(--black);
            margin-top: 0.5em;
            background-color: #fff;
            border-radius: 6px;
            padding: 0px 5px 0px 5px;
            background: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        }
    }
}

.controls {
    max-width: 1200px; 
    padding: 20px;
    background: white;
    
    margin: 0 auto;
    margin-bottom: 20px;
}

.checkbox-group {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

input[type="checkbox"] {
    display: none;
}

.checkbox-wrapper {
    position: relative;
    border: dashed 2px var(--black);
    border-radius: 6px;
    transition: all 0.5s ease;
    cursor: pointer;

    & > label {
        padding: 10px;
    }
}

.checkbox-wrapper label {
    cursor: pointer;
    font-weight: 500;
    user-select: none;
}

/* Style when checkbox is checked */
#toggle-studiprojekte-1:checked ~ .controls .checkbox-wrapper:nth-child(1),
#toggle-studiprojekte-2:checked ~ .controls .checkbox-wrapper:nth-child(2),
#toggle-studiprojekte-3:checked ~ .controls .checkbox-wrapper:nth-child(3),
#toggle-studiprojekte-4:checked ~ .controls .checkbox-wrapper:nth-child(4) {
    background: var(--primary-light);
}

#toggle-studiprojekte-1:not(:checked) ~ .grid-studiprojekte .filter-studiprojekte-1,
#toggle-studiprojekte-2:not(:checked) ~ .grid-studiprojekte .filter-studiprojekte-2,
#toggle-studiprojekte-3:not(:checked) ~ .grid-studiprojekte .filter-studiprojekte-3,
#toggle-studiprojekte-4:not(:checked) ~ .grid-studiprojekte .filter-studiprojekte-4 {
    display: none;
}

#toggle-lehrlabore-1:checked ~ .controls .checkbox-wrapper:nth-child(1),
#toggle-lehrlabore-2:checked ~ .controls .checkbox-wrapper:nth-child(2),
#toggle-lehrlabore-3:checked ~ .controls .checkbox-wrapper:nth-child(3) {
    background: var(--primary-light);
}

#toggle-lehrlabore-1:not(:checked) ~ .grid-lehrlabore .filter-lehrlabore-1,
#toggle-lehrlabore-2:not(:checked) ~ .grid-lehrlabore .filter-lehrlabore-2,
#toggle-lehrlabore-3:not(:checked) ~ .grid-lehrlabore .filter-lehrlabore-3 {
    display: none;
}
