.datenwelten-pretitle {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black-light);
    text-transform: uppercase;
    letter-spacing: 0.08em;
    text-align: left;
    border-top: 0.4em solid var(--primary-light);
    width: 50%;
    padding-top: 0.5em;
}

.grid-datenwelten-events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 1em;
    color: var(--black-light);
    text-align: left;

    h2 {
        width: 70%;
    }

    h3, a {
        font-size: 0.8em;
        color: var(--black-light);
        margin-bottom: 0.3em;
    }

    h3 {
        text-transform: uppercase;
        letter-spacing: 0.15em;
    }

    a {
        text-decoration: none;
        font-weight: 300;
        padding-left: 0;
        padding-right: 0;
    }

    ul {
        list-style: none;
    }
}

.datenwelten-accordion {
    width: 80%;
    margin: 4rem 0;
}