.datenwelten-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 0;
    text-align: left;
    hyphens: none;
    place-items: center;
    grid-template-areas: 
            "question illustration"      
            "text text"; 

    @media (max-width: $breakpoint-tablet) {
        grid-template-columns: 1fr;
        gap: 2rem;
        grid-template-areas:
            "illustration"
            "question"
            "text";
    }
}

.datenwelten-hero figure {
    width: 100%;
    grid-area: illustration;

    @media (max-width: $breakpoint-tablet) {
        width: 80%;
    }

    @media (max-width: $breakpoint-mobile) {
        width: 100%;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.datenwelten-hero-left,
.datenwelten-hero-right {
    font-size: 1.5rem;
    position: relative;
    color: var(--black-light);

    @media (max-width: $breakpoint-mobile) {
        font-size: 1.2rem;
    }
}

.datenwelten-hero-left {
    width: 70%;
    grid-area: question;
    
    @media (max-width: $breakpoint-mobile) {
        grid-column: 1;
        width: 100%;
    }

    p {
        font-weight: 500;
        // border-top: 0.4em solid var(--primary-light);
        padding: 0.5em 0 0 1.7em;
        margin-left: 1em;

        @media (max-width: $breakpoint-mobile) {
            margin-left: 0;
            padding-left: 0;
        }
    }

    &::before {
        content: "\eb33";
        left: -7%;
        top: 17%;

        @media (max-width: $breakpoint-mobile) {
            left: 75%;
            top: 55%;
        }
    }
}

.datenwelten-hero-right {
    grid-area: text;

    @media (max-width: $breakpoint-mobile) {
        grid-column: 1;
        font-size: 1rem;
    }

    // &::after {
    //     content: "\ebe2";
    //     left: -15%;
    //     top: 20%;
    //     font-size: 5em;

    //     @media (max-width: $breakpoint-mobile) {
    //         display: none;
    //     }
    // }
}

.datenwelten-hero-answer {
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;

    @media (max-width: $breakpoint-mobile) {
        font-size: 1.2rem;
    }
}

.datenwelten-hero-left::before,
.datenwelten-hero-right::after {
    font-family: "codicon";
    position: absolute;
    font-size: 3.5em;
    font-weight: 1000;
    line-height: 1;
    color: rgba(0, 0, 0, 0.05);
}

.datenwelten-big-numbers {
    margin: 4rem 0;
}