.about-text-wide {
    // padding: 20px;
    text-align: justify;
    width: 90%;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.about-text-wide p {
    
    margin-bottom: 0.5em;
}