.publication-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 2rem;
  margin-bottom: 2em;
  font-size: 1.5rem;
}

.publication-card {
  color: var(--black-light);
  padding: 1em;
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;   
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    background: var(--primary);
    transition: all 0.7s ease;
  }

  &:hover::after {
    width: 100%; 
    left: 0; 
  }

  p {
    font-size: 0.8em;
    font-weight: 500;
    margin-top: 0.5em;
  }
}

.publication-title {
  color: var(--black);
  font-size: 1.2em;

  &::after {
    font-family: codicon;
    content: "\ea9c";
    display: inline-block;
    transform: rotate(-45deg);
    font-weight: 1000;
    margin-left: 0.1em;
    vertical-align: -0.1em;
  }
}

.publication-authors {
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--black-light);

  &::before {
    font-family: codicon;
    content: "\ea67";
  }
}

.publication-subtitle {
  color: var(--black-lighter);
}

.publication-date::before { 
  font-family: codicon;
  content: "\eab0";
  margin-right: 0.3em;
}

.publications-more {
  font-size: 1.5rem;
}

@media (max-width: $breakpoint-tablet) {
  .publication-grid {
    grid-template-columns: 1fr;
    font-size: 1.2rem;
    width: 80%
  }
}

@media (max-width: $breakpoint-footer) {
  .publication-grid {
    width: 100%;
        gap: 1.5rem;
  }
}

@media (max-width: $breakpoint-mobile) {
  .publication-grid {
    font-size: 1rem;
  }

  .publications-more {
    font-size: 1.2rem;
    text-align: center;
  }
}