.team-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
    justify-items: center;
}

@media (max-width: $breakpoint-tablet) {
    .team-grid {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }
}

// filepath: [_team.scss](http://_vscodecontentref_/1)
.team-card {
    display: flex;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform var(--transition-speed) ease, box-shadow var(--transition-speed) ease;
    border: 1px solid #eee;
    // overflow: hidden;
}

.team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
}

.team-card-image {
    flex: 0 0 35%;
    overflow: hidden;
}

.team-card img {
    object-fit: cover;
    height: 100%;
}

.team-card img:hover {
    transform: scale(1.03);
    transition: transform var(--transition-speed) ease;
}

.team-card-content {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

.team-card-content h2 {
    font-weight: 700;
    margin-bottom: 5px;
}

.team-card-content p {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    color: var(--black-lighter);
    margin-bottom: 15px;

}

.team-card-content ul {
    list-style: none;
    color: var(--black);
}

.team-card-content li::before {
    font-family: 'codicon';
    content: '\eb70'; 
    margin-right: 0.2em;
    float: left;
}