.about-text-wide {
    position: relative;
    width: 70%;
    margin: 4rem 0 2rem;
    font-size: 1.2rem;
    text-align: justify;
    color: var(--black-light);
    hyphens: auto;

    &::before {
        content: "\eb33";
        position: absolute;
        left: -25%;
        top: 15%;
        font-family: 'codicon';
        font-size: 200px;
        color: rgba(0, 0, 0, 0.1);
    }

    hr {
        border: none;
        width: 70%;
        height: 4px;
        background-color: var(--black-lightest);
        margin-bottom: 1em;
    }

    p {
        margin-bottom: 1em;

        &:first-of-type {
            &::first-letter {
                float: left;
                margin: 0.1em 0.1em 0 0;
                font-size: 5em;
                line-height: 0.7;
                text-transform: uppercase;
                text-shadow: 0.05em 0.05em var(--primary-light);
            }

            &::first-line {
                font-weight: 700;
            }
        }
    }
}