body {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

// main {
//     flex-grow: 1; 
//     padding: clamp(1rem, calc(5vw + 1rem), 3rem);
//     padding: Min(3rem, 8%);
// }

main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, var(--max-width)) minmax(2rem, 1fr);
}

main section {
  grid-column: 2;
  place-items: center;
}

main article {
    grid-column: 2;
    place-items: center;
}



article {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    place-items: center;
}













.wide-movie-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw 0;
}

.wide-movie-container::before {
    background: no-repeat url("/images/Video-Hintergund_SVGs_Gesamt.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; 
    position: absolute;
    content: '';
    width: 100vw;
    height: 100%;
    // top: 6vw;
    // right: 5vw;
    z-index: -1;
}

.wide-movie {
    width: 60vw;
    height: auto;
    aspect-ratio: 16/9;
    box-shadow: 100px 100px 0 -90px var(--primary);
    box-shadow: 2vw 2vw 0 -1vw var(--primary);
}
















.wide-text {
    padding: 20px;
    text-align: justify;
    

}

.logo-big {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    height: 50px;
    border-radius: 0px;
    padding: 0 30px;
}

.logo-bigger {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    height: 60px;
    border-radius: 0px;
    padding: 0 30px;
}


.wide-image {
    max-width: 100%; /* Ensure it doesn't exceed the container */
    display: block;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

img {
  max-width: 100%; /* ensure images don't overflow their containers */
  height: auto; /* maintain aspect ratio */
  display: block; /* removes extra space below image */
  border-radius: 12px;
}



.row {
    display: flex;
    flex-direction: row;
    // margin-bottom: var(--spacing-tablet);
    gap: var(--spacing-tablet);
    align-items: center;
    // max-width: 100%;
    // margin-right: 0;
    // margin-left: 0;
    // margin-top: 0;

    &.reverse {
        flex-direction: row-reverse;
    } 
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
}

.team {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    // margin: 0 auto;
}


.content-area, .image-area {
    flex: 1;
    // transition: transform var(--transition-speed), opacity var(--transition-speed);
}

.image-area {
    flex: 1;
}




.content-accordion {
    flex: 2;
}

.content-area {
    // padding: var(--spacing-tablet);
    padding: 20px;
}


.image-area img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    // box-shadow: 0 8px 20px var(--shadow-color);
    // transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

//.image-area:hover img {
    // transform: translateY(-5px);
    // box-shadow: 0 12px 25px var(--shadow-color);
//}

@media (max-width: var(--breakpoint-mobile)) {
    .row, .row.reverse {
        flex-direction: column;
        gap: var(--spacing-mobile);
        margin-bottom: 0;
    }

    .content-area, .image-area {
        width: 100%;
        // display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .content-area {
        order: 2;
        padding: var(--spacing-mobile);
    }

    .hero-content {
        order: 2;
        padding: var(--spacing-mobile);
    }

    .image-area {
        order: 1;
    }


}
.text-decoration {
    text-decoration: underline;
    color: var(--primary);
}


