body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  display: grid;
  grid-template-columns: minmax(4rem, 1fr) minmax(0, var(--max-width)) minmax(4rem, 1fr);
  row-gap: 8rem;
  overflow: hidden;

  @media (max-width: $breakpoint-footer) {
    grid-template-columns: 2rem auto 2rem;
  }
  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1.5rem auto 1.5rem;
  }
}

main section,
main article {
  grid-column: 2;
  place-items: center;
  position: relative;
}

main figure.image-full-page {
  grid-column: 1 / -1;
  place-items: center;
  position: relative;
}

article,
section {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 3rem;
}

img {
  max-width: 100%;
  height: auto; 
  display: block; 
}