body {
  display: flex;
  flex-direction: column;
}

main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, var(--max-width)) minmax(2rem, 1fr);
  row-gap: 2rem;
  overflow: hidden;
}

main section {
  grid-column: 2;
  place-items: center;
  position: relative;
}

main article {
    grid-column: 2;
    place-items: center;
}

article {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    place-items: center;
}

img {
    max-width: 100%;
    height: auto; 
    display: block; 
}