.navbar {
    color: var(--black);
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 4px;
        background: var(--primary);
        transition: all 0.7s ease;
    }

    &:has(.logo:hover)::after {
        width: 100%;
        left: 0;
    }
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 0.5rem;
    z-index: 1;

    img {
        height: 50px;
    }
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    gap: 10px;
    cursor: pointer;

    div {
        width: 100%;
        height: 12px;
        background: var(--black);
        border-radius: 2px;
        transition: all 0.5s ease;
    }
}

#nav-toggle {
    display: none;

    &:checked + .hamburger div {
        transform: rotateZ(90deg);

        &:first-child {
            transform-origin: -3px -3px;
            transform: rotateZ(90deg) translateY(-16px);
        }

        &:nth-child(3) {
            transform-origin: 100% 100%;
            transform: rotateZ(90deg) translateY(10px);
        }
    }

    &:checked ~ .nav-links {
        right: 0;
    }
}

.nav-links {
    li {
        display: inline-block;
        padding: 1rem 0.2rem;
    }

    a {
        color: #000;
        text-decoration: none;
        font-weight: 600;
        display: inline-block;
        padding: 0.7rem;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: $breakpoint-navigation) {
    .navbar {
        padding: 1rem 1rem;
    }

    .hamburger {
        display: flex;
        z-index: 2;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -70%;
        width: 70%;
        height: 100vh;
        display: grid;
        gap: 0.5rem;
        background-color: var(--background-white);
        padding-top: 60px;
        transition: right 0.5s ease;
        z-index: 1;
        align-content: start;

        li {
            padding: 0 1rem;
        }
    }
}


.breadcrumb-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    gap: 2rem;
    color: var(--black-light);
    font-size: 1.2rem;
    font-weight: 500;
    margin: 4rem auto;

    &:has(:nth-child(3)) {
        grid-template-columns: repeat(3, 1fr);
    }

    &:has(:nth-child(4)) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.breadcrumb-grid-item {
    border: var(--primary) 0.15rem solid;
    padding: 0.5em 1em;
    text-align: center;
}

@media (max-width: $breakpoint-tablet) {
    .breadcrumb-grid {
        font-size: 1rem;
    }
}

@media (max-width: $breakpoint-footer) {
    .breadcrumb-grid {
        grid-template-columns: 1fr;
    }
}