.feature-highlight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 2rem;

    p {
        text-align: left;
        font-size: 1.5rem;
        color: var(--black-light);
        margin-bottom: 0.5em;
        padding-left: 2em;
        position: relative;

        &::before {
            content: "\eb70";
            font-family: "codicon";
            position: absolute;
            font-size: 2em;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            line-height: 1;
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .feature-highlight {
        grid-template-columns: 1fr;
        gap: 1rem;

        figure {
            width: 60%;
        }

        p {
            font-size: 1.4rem;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .feature-highlight {

        figure {
            width: 100%;
        }

        p {
            font-size: 1.2rem;
            padding-left: 0; // Remove left padding since icon will be inline

            &::before {
                position: relative;
                float: left;
                font-size: 1.5rem;
                transform: none;
                top: auto;
            }
        }
    }
}