.hero-section {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-template-areas: "content image";
    justify-items: center;
    align-items: center;
    margin: 5em auto 1em;
    gap: 2em;
}

.hero-content {
    grid-area: content;
}

.hero-image {
    grid-area: image;
}

.hero-content h1 {
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 0.5em;
    position: relative;
    display: inline-block;
    line-height: 1.1em;
}

.hero-content p {
  font-size: 1.5em;
  color: var(--black-light);
  font-weight: 400;
}

.hero-image {
    img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: $breakpoint-mobile) {
    .hero-section {
        grid-template-columns: 1fr;
        grid-template-areas: "image" "content";
        margin-top: 2em;
    }
    .hero-content h1 {
        font-size: 2.5em;
        margin-bottom: 0.3em;
    }
    .hero-content p {
        font-size: 1.2em;
    }
}