.image-area-horizontal {
    flex: 1;
    width: 100%;
    
    img {
        width: 70%;
        margin: 0 auto;
    }
}

.grid-lehre-navi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3em;
    margin-bottom: 1em;
}

.grid-lehre-navi-item {
    text-align: left;
    display: flex; 
    flex-direction: column;
    
    h2 {
        font-size: 1.6rem;
        margin-bottom: 0.5em;
        padding-top: 0.5em;
        border-top: 0.3em solid var(--primary-light);
    }
    
    p {
        font-size: 1.2rem;
        color: var(--black-light);
        margin-bottom: 0.5em;
    }
    
    a {
        margin-top: auto;
        font-size: 1.2rem;
        display: inline-block;
    }
}

// Media Queries
@media (max-width: $breakpoint-footer) {
    .image-area-horizontal img {
        width: 100%;
    }
    
    .grid-lehre-navi {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 2em;
    }
    
    .grid-lehre-navi-item a {
        margin: 0 auto;
    }
}