{{ define "main" }}

<main>
  <section>
    <header class="hero-section">
      <div class="hero-content">
        <h1>{{ .Params.hero.title }}</h1>
        <p>{{ .Params.hero.subtitle }}</p>
      </div>
      <figure class="hero-image">
        <img src="illustrations/hero/hero_adobe_main-hero.png"  alt="Hero Image">
      </figure>
    </header>
  </section>

  <section id="home-navigation">
    <header class="section-header">
        <h1 class="section-title">{{ .Params.navigation.title }}</h1>
        <p class="section-subtitle">{{ .Params.navigation.subtitle }}</p>
    </header>
    <div class="navigation-cards-grid">
      {{ range .Params.navigation.items }}
        <a class="navigation-cards-grid-item hover-fx" href="/{{ .link }}">
        <i class='codicon codicon-{{ .icon }}'></i>  
        <p>{{ .title | markdownify }}</p>
      </a>
      {{ end }}
    </div>
  </section>


<section id="home-goals">
    <header class="section-header">
        <h1 class="section-title">{{ .Params.goals.title }}</h1>
        <p class="section-subtitle">{{ .Params.goals.subtitle }}</p>
    </header>
    <div class="feature-highlight">
      <div>
        {{ .Params.goals.text | markdownify }}
      </div>
      <figure>
        <img src="illustrations/hero/hero_adobe_ziele_vertikal.png" alt="An image showing project goals">
        {{/*  <figcaption>put image credits here</figcaption>  */}}
      </figure>
    </div>
</section>

<section id="home-lehre-navi">
    <header class="section-header">
          <a href="https://www.uni-hamburg.de/lehre-navi/lehrende.html" target="_blank" alt="UHH Lehre-Navi">
            <h1 class="section-title">{{ .Params.lehre_navi.title }}<i class='codicon codicon-arrow-right' style='font-size: 1em; transform: rotate(-45deg); display: inline-block; font-weight: 1000'></i></h1>
          </a>
          <p class="section-subtitle">{{ .Params.lehre_navi.subtitle }}</p>
      </header>
    
    
    <figure class="image-area-horizontal">
      <img src="illustrations/hero/hero_adobe_lehre-navi.png" alt="UHH Lehre-Navi">
    </figure>

    <div class="grid-lehre-navi">
      {{ range .Params.lehre_navi.items }}
      <div class="grid-lehre-navi-item">
        <h2>{{ .title }}</h2>
        <p class="content-text">{{ .text }}</p>
        <div>
          <a class="hover-fx" href="{{ .link }}" target="_blank">
            {{ .link_text }}
            <i class='codicon codicon-arrow-right' style='font-size: 1rem; transform: rotate(-45deg); display: inline-block; font-weight: 1000'></i>
          </a>
        </div>
      </div>
      {{ end }}
    </div>

</section>

</main>

{{ end }}