{{ $publicationIndex := .Get "publication" | int }}
{{ $publication := index site.Data.publications $publicationIndex }}
<div class="publication-card">
  <h3>{{ $publication.title }}</h3>
  <p>{{ $publication.subtitle }}</p>

  <p>
    <i class="codicon codicon-calendar" style="display: inline-block; color: var(--primary-darker);"></i>
    {{ $publication.date }}
  </p>

  <p>
    <i class="codicon codicon-person" style="display: inline-block; color: var(--primary-darker);"></i>
    {{ $publication.authors }}
  </p>

  <div class="nav-links">      
    <a class="hover-fx publications-link" href='{{ $publication.link }}' target="_blank">
      Zur Publikation
    <i class='codicon codicon-arrow-right' style='font-size: 1.5rem; transform: rotate(-45deg) translateY(0.1rem) translateX(-0.2rem); display: inline-block; font-weight: 1000'></i>    
    </a>
  </div>

</div>