{{ $timeline := .Site.Data.timeline_ddlitlab.timeline }}
<ul class="timeline timeline-centered">
{{ range $timeline }}
    {{ if eq .type "period" }}
    <li class="timeline-item timeline-period">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <span class="timeline-title">{{ .title }}</span>
        </div>
    </li>
    {{ else }}
    <li class="timeline-item">
        <div class="timeline-info">
            <span>{{ .date }}</span>
        </div>
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            {{ if .content }}



            <div class="accordion-wrapper">
                <details class="accordion-simple accordion-timeline">
                    <summary class="timeline-title">{{ .title }}</summary>
                    {{ if .content }}
                    <p class="timeline-text">
                        {{ .content | markdownify }}
                    </p>
                    {{ end }}
                </details>
            </div>

            {{ else }}
            <h5 class="timeline-title">{{ .title }}</h5>
            {{ end }}
            
        

            {{/*  
            so war es vorher
            <h5 class="timeline-title">{{ .title }}</h5>
            {{ if .content }}
            <p class="timeline-text">
                {{ .content | markdownify }}
            </p>
            {{ end }} 
            */}}
        </div>
    </li>
    {{ end }}
{{ end }}
</ul>
