.article-project {
    gap: 2em;
}

.article-text {
    text-align: justify;
    hyphens: auto;
    font-size: 1.3rem;

    h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5em;
    }

    p {
        margin-bottom: 1em;

        &:first-of-type {
            &::first-letter {
                float: left;
                text-transform: uppercase;
                line-height: 0.7;
                font-weight: 600;
                font-size: 3.5em;
                margin: 0.1em 0.1em 0 0;
            }

            &::first-line {
                font-weight: 700;
            }
        }
    }

    strong {
        font-weight: 550;
    }

    ul, ol {
        li {
            margin-bottom: 0.5em;
        }
    }

    ul {
        list-style-type: none;
        
        li::before {
            content: "\ea9c";
            font-family: 'codicon';
            margin-right: 0.3em;
            float: left;
        }
    }

    ol {
        list-style-position: inside;
        
        li::before {
            display: none;
        }
    }
}

.article-backref {
    font-size: 1.2rem;
}

.article-backref,
.article-stine-link {
    text-align: center;

    &::before {
        content: "\ea9b";
        font-family: 'codicon';
        margin-right: 0.3em;
        float: left;
    }
}

.article-stine-link::before {
    transform: rotate(135deg);
    float: right;
    margin: 0 0 0 0.3em;
}

.article-info {
    margin: 2em 0 1em 0;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 1em;
    border-radius: 6px;
    padding: 1em;
    font-size: 1rem;
    width: 85%;
    box-shadow: 1px 2px 2px var(--primary), 4px 5px 4px var(--primary-light);
    background: linear-gradient(to right, var(--primary-lighter), var(--primary-lightest));
    border: 1.5px solid var(--primary-light);

    a {
        text-decoration: none;
    }
}

.article-info-external {
    color: var(--black);

    &::after {
        content: "\ea9b";
        font-family: 'codicon';
        transform: rotate(135deg);
        float: left;
        margin-right: 0.2em;
    }
}

.blockquote {
    padding: 60px 80px 40px;
    position: relative;

    p {
        font-size: 1.5rem;
        text-align: center;
        font-style: italic;
    }

    &::before {
        position: absolute;
        font-family: 'codicon';
        top: 0;
        content: "\eb33";
        font-size: 200px;
        color: rgba(0, 0, 0, 0.1);
    }

    &::after {
        content: "";
        position: absolute;
        top: 20px;
        left: 50%;
        margin-left: -300px;
        border-bottom: 6px solid var(--primary);
        height: 10px;
        width: 600px;
    }
}

@media (max-width: $breakpoint-mobile) {
    .article-project {
        h1 {
            font-size: 1.2rem;
            margin-bottom: 1.6rem;

            &::after {
                bottom: -0.8em;
            }
        }

        h2 {
            font-size: 1.2rem;
        }

        .section-subtitle {
            font-size: 1rem;
        }

        .section-header {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
    
    .article-text {
        text-align: left;
        hyphens: none;
        font-size: 1rem;
    }

    .article-info {
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0;
    }
}